<section class="row">


    @for (item of allProducts; track $index) {
        <!-- contenido dinámico: cambie dependiendo de la base de datos 
         interpolación : {{poner la variable que quiere mostrar}}-->

    <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <!-- [prepara para recibir contenido del ts] -->
                    <img [src]="baseUrl + item.image" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <p class="card-text"><small class="text-body-secondary">{{item.price}}</small></p>
                        <h3>{{item.categories}}</h3>
                        <h6>Ejemplo estático</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

</section>