/* logo */

.logo {
    color: var(--primary-color);
    font-weight: bold;
}

/* botones */
.btn {
    border: none;
    padding: 2px 20px;
    border-radius: 50px;
    color: var(--white);
}

.btn-registro {
    background: var(--gradient-secondary);
    
}

.btn-sesion {
    background: var(--gradient-hero) !important;
}