/* Baner */
.baner {
    width: 100vw;
    height: 85vh;
    background: var(--gradient-primary);
}


/* Productos */
.productos{
    width: 100vw;
    height: 60vh;
}


/* Llamado a la acción */
.llamado-action {
    width: 100vw;
    height: 50vh;
    background: var(--gradient-secondary);
}